USE [master]
GO
/****** Object:  Database [Authorization]    Script Date: 01.06.2023 13:02:28 ******/
CREATE DATABASE [Authorization]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Authorization', FILENAME = N'D:\SQL Server 2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\Authorization.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Authorization_log', FILENAME = N'D:\SQL Server 2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\Authorization_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Authorization].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Authorization]
GO
/****** Object:  Table [dbo].[User]    Script Date: 01.06.2023 13:02:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [Email], [PhoneNumber]) VALUES (1, N'Askar', N'1', N'1', N'askar@gmail.com', N'84534544555')
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [Email], [PhoneNumber]) VALUES (2, N'Arseniy', N'2', N'2', N'arseniy@gmail.com', N'79633346332')
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [Email], [PhoneNumber]) VALUES (3, N'Arthur', N'3', N'3', N'arthur@yandex.ru', N'44242442424')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
